[user]
name = C Crews
email = systemjack@yahoo.com

[core]
editor = vim
#autocrlf = input
#whitespace = fix,space-before-tab,tab-in-indent,trailing-space
#excludesfile = ~/.gitignore_global

[merge]
tool = vimdiff

[alias]
co = checkout
br = branch
cm = commit
st = status

[http]
postBuffer = 524288000
